{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>IMAGE</th>
								<th>PRODUCT</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">REMOVE</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">TOTAL</th>
							</tr>
						</thead>
						<tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
							<tr>
								<td class="image" data-title="No"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{ product.name }}</</a></p>
								</td>

								<form action="{% url "cart:cart_add" product.id %}" method="post">{% csrf_token %}
                                <td class="qty" data-title="Qty"><!-- Input Order -->
									{% for field in item.update_quantity_form %}
                                        {% if field.html_name.lower == 'quantity' %}
									    <div class="input-group">
									    	<div class="button minus">
									    		<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="{{field.name}}">
									    			<i class="ti-minus"></i>
									    		</button>
									    	</div>
									    	<input type="text" class="input-number" id="{{ field.id_for_label }}" name="{{ field.name }}"  data-min="1" data-max="1000" value="{{ item.quantity }}">

									    	<div class="button plus">
									    		<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="{{field.name}}">
									    			<i class="ti-plus"></i>
									    		</button>
									    	</div>
                                        {{ field.errors}}
										<div class="add-to-cart">
											<input class="btn" type="submit" value="Update"></input>
										</div>
									    </div>
                                        {% endif %}
                                    {% endfor %}
                                    {{ item.update_quantity_form.override }}
									<!--/ End Input Order -->
								</td>
                                </form>
                                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                    <td class="action" data-title="Remove"><input class="btn " type="submit" value="remove"></input></td>
								{% csrf_token %}
                                </form>
                                <td class="price" data-title="Price"><span>${{ item.price }} </span></td>
                                <td class="total-amount" data-title="Total"><span>${{item.total_price}}</span></td>
							</tr>
                        {% endwith %}
                        {% endfor %}
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
                                 <div class="coupon">
										<form action="{% url "coupons:apply" %}" method="post">{% csrf_token %}
                                        {% for field in coupon_apply_form %}
											<input name="{{field.name}}" id="{{field.id_for_label}}" placeholder="Enter Your Coupon">
											<button type="submit" class="btn">Apply</button>
                                        {% endfor %}
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
                                    <li>Cart Subtotal<span>${{ cart.get_total_price|floatformat:2 }}</span></li>
                                    {% if cart.coupon %}
                                        <li>Coupon<span>{% with code=cart.coupon.code discount=cart.coupon.discount %}"{{ code }}"</span>
                                        <li>({{ discount }}% off)<span class="text-danger">- ${{ cart.get_discount|floatformat:2 }}</span></li>
                                            {% endwith %}
                                    {% endif %}
										<li>Shipping<span>Free</span></li>
										<li class="last">You Pay<span>${{ cart.get_total_price_after_discount|floatformat:2 }}</span></li>
									</ul>
									<div class="button5">
										<a href="{% url "orders:order_create" %}" class="btn">Checkout</a>
										<a href="{% url "shop:product_list" %}" class="btn">Continue shopping</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->
    

{% endblock content %}